
.charts_container{
	width: 1100px; 
	height: 600px;
}

.charts_left_arrow_container{
	width: 128px;
	height: 128px;
	background-image: url('../images/left.png');
	float: left;
}

.chart_container{
	width: 844px;
	height: auto;
	float: left;
}

.charts_right_arrow_container{
	width: 128px;
	height: 128px;
	background-image: url('../images/right.png');
	float: left;
}

.charts_right_arrow_container:hover{
	cursor: pointer;

}

.charts_left_arrow_container:hover{
	cursor: pointer;

}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}
